* {
    font-family: 'Asap', sans-serif;
}

html, body {
    height: 100%;
    min-width: 50%;
    min-height: 50%;
    background-color: #535056 !important;
    overflow-x: hidden !important;
}

.fit-content {
    display: block;
    overflow: auto;
}

.w-fit-content {
    min-width: 100%;
    display: block;
    overflow: auto;
}

.h-fit-content {
    min-height: 100%;
    display: block;
    overflow: auto;
}

.colorBackground {
    background-color: #262527 !important;
}

.colorBackground-darker {
    background-color: #141414 !important;
}

.colorBackground-lighter {
    background-color: #636060 !important;
}

.letraTitulo {
    color: #ab9e32;
}

.logo_redim {
    width: 300px;
}

.logo_redim img {
    max-width: 99%;
}

.min-container {
    width: 100%;
    height: 100%;
}

.borde-nav {
    border-bottom: 1px solid #262527;
    box-shadow: -2px -1px 18px 0px #ac9e31;
}

.form-nav {
    display: inline;
}

.margen-fixed {
    position: relative !important;
}

.img-buscar {
    width: 15%;
    height: 7%;
}

.fix-height {
    height: 7%;
}

.hr-home {
    margin-top: 3%;
    width: 80%;
    background-color: #ac9e3129;
}

.set-back {
    z-index: 0 !important;
}

/* CSS para los bordes de las cards de las preguntas */

.bordes-ask {
    border: 1px solid #141414 !important;
}

/* CSS para la redimensión de las imagenes de los usuarios */

.img-perfil {
    height: 410px;
}

.med-img-perfil {
    width: 90px !important;
    height: 90px !important;
}

.min-img-perfil {
    width: 45px !important;
    height: 45px !important;
    border: 1px solid white !important;
}

/* Este CSS se aplica para arreglar el height del contenedor principal del Firefox */

.firefox-height {
    min-height: 100% !important;
}

/* Este CSS solo se aplica si el browser es IE, sirve para arreglar el navbar sticky top en IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .sticky-top-ie {
        position: fixed;
        width: 98.9%;
        top: 0;
        z-index: 1020;
    }
    .padding-top-ie {
        padding-top: 5%;
    }
}

/* Crear margen para  para adjustar tamaño de la página al navbar fijo */

.mg-top-navbar {
    width: 100%;
    margin-top: 10%;
}

/* ---------------------------------------------------- */

/* Redimensionar tamaño página general (navbar+contenido+footer) */ 

.navbar-home {
    z-index: 9999;
}

.container-contenido {
    overflow-x: hidden !important;
    min-height: 100% !important;
    display: block !important;;
}

/* --------------------------- */

/* Checkbox términos */

.terms-size {
    font-size: 17px;
    padding-left: 0.5em;
}

#normas {
    margin-top: 0.7%; 
}

/* ---------------- */

/* Formato de login/registro */

.cont-log_reg {
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
}

/* ------------------------- */

/* Quitar bordes */

.borde-top-0 {
    border-top: 0 !important;
}

.borde-bottom-0 {
    border-bottom: 0 !important;
}

/* ----------------------------- */

/* Boton enviar pregunta (reutilizado) */

#enviar_pregunta {
    display: inline-block;
    padding: 8px 24px;
    background: rgb(220, 220, 220);
    font-weight: bold;
    color: rgb(120, 120, 120);
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
}

#enviar_pregunta:hover {
    background: #8BC34A;
    color: #ffffff;
}

/* ----------------------------------- */ 

/* CSS contacto */

#texto-contacto {
    min-width: 100%;
    padding: 11px;
}

/* ------------ */

/* Estilos card de la pregunta */

.no-respond {
    font-weight: bold;
    font-size: .9em;
}

.color-like {
    color: red !important;
}

.likes {
    font-size: .8em;
    font-weight: bold;
}

.like {
    background-color: transparent;
}

.tema {
    margin-left: 5%;
}

.img-likes {
    width: 20px;
    height: 20px;
}

.tiempo {
    font-weight: bold;
    font-size: .7em;
}

.texto-pregunta {
    width: 80% !important;
}

.profile-user {
    text-decoration: none !important;
    color: #ab9e32 !important;
}

/* --------------------------- */

/* CSS de la respuesta */

.separador-respuesta {
    width: 1.5% !important;
    height: 65px !important;
    border-radius: 10px !important;
    background-color: #ac9e31;
}

.respuesta {
    max-width: 80% !important;
}

.emoji-respuesta {
    margin-right: 30% !important;
    margin-top: 4% !important;
}

/* --------------------------- */

/* Perfil */

.card-perfil {
    min-width: 28% !important;
}

/* ------------- */

/* Editar perfil */

.aside-edit {
    display: inline;
    margin-right: 10%;
}

.input-edit {
    width: 100%;
    display: block;
    margin-bottom: 3%;
    padding: 5px;
}

/* ------------- */


